<!DOCTYPE html>
<html 
	xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>나의 메뉴</title>

</head>
<script src="https://code.jquery.com/jquery-3.6.3.js"
integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM=" crossorigin="anonymous"></script>

<script>

</script>

<style>
    @import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');
</style>
<style>
    body {
        margin: 0;
    }
    .container{
        width: 200px;
        height: 300px;
        border: 1px solid wheat;
        
    }
    .container form a {
        text-decoration: none;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
    }
    form{
        margin-top: 30px;
    }

</style>

<body>
    
    <div class="container">
        <form action="">
            <a href="">마이 페이지</a>
            <a href="">내 정보 설정</a>
            <a href="">포인트/작립</a>
            <a href="">이용내역</a>
            <a href="">고객센터</a>
            <a href="">로그아옷</a>
        </form>
    </div>

</body>
</html>
</html>