<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>공지사항</title>
</head>

<style>
    .section_container {
        width: 1000px;
        margin: 0 auto;
        position: relative;
        top: 80px;

    }

    .list_link {
        text-decoration: none;
    }

    .list_item {
        list-style: none;
        padding: 10px;
    }

    .page_header {
        text-align: left;
        margin-left: 40px;
    }

    a {
        color: black;
    }
</style>

<body>
    <th:block th:include="fragments/service_center_header"></th:block>
    <div class="section_container">
        <section id="main_content" class="section_content">
            <header class="page_header">
                <h2>공지사항</h2>
            </header>
            <ul class="list">
                <th:block th:each="notice : ${list}">
                    <li class="list_item"><a th:href="@{/notice/detail/{noticeNum}(noticeNum=${notice.noticeNum })}"
                            class="list_link" th:text="${notice.title}"></a><span>&nbsp;[ [[${notice.commentCount}]] ]</span> 조회수 [[${notice.viewCount}]]</li>
                    <hr> 
                </th:block>


            </ul>
            <a th:if="${session.addto != null}" href="/admin/notice/add">공지쓰기</a>
        </section>
    </div>
</body>

</html>