<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>공지사항</title>
</head>
<style>
    .section_container{
        width: 1000px;
        margin: 0 auto;
    }
    .list_link{
        text-decoration: none;
    }
    .list_item{
        list-style: none;
        padding: 10px;
    }
    .page_header{
        text-align: left;
        margin-left: 40px;
    }
    a{
        color: black;
    }
</style>
<body>
    <div class="section_container">
        <section id="main_content" class="section_content">
            <header class="page_header"><h2>공지사항</h2></header>
            <ul class="list">
                <li class="list_item"><a href="" class="list_link">[공지] 이메일 인증......</a></li><hr>
                <li class="list_item"><a href="" class="list_link">[공지] 이메일 인증......</a></li><hr>
                <li class="list_item"><a href="" class="list_link">[공지] 이메일 인증......</a></li><hr>
                <li class="list_item"><a href="" class="list_link">[공지] 이메일 인증......</a></li><hr>
                <li class="list_item"><a href="" class="list_link">[공지] 이메일 인증......</a></li><hr>
                <li class="list_item"><a href="" class="list_link">[공지] 이메일 인증......</a></li><hr>
                <li class="list_item"><a href="" class="list_link">[공지] 이메일 인증......</a></li><hr>
                <li class="list_item"><a href="" class="list_link">[공지] 이메일 인증......</a></li><hr>
                <li class="list_item"><a href="" class="list_link">[공지] 이메일 인증......</a></li><hr>
                <li class="list_item"><a href="" class="list_link">[공지] 이메일 인증......</a></li><hr>
                <li class="list_item"><a href="" class="list_link">[공지] 이메일 인증......</a></li><hr>
                <li class="list_item"><a href="" class="list_link">[공지] 이메일 인증......</a></li><hr>
                <li class="list_item"><a href="" class="list_link">[공지] 이메일 인증......</a></li><hr>
                <li class="list_item"><a href="" class="list_link">[공지] 이메일 인증......</a></li><hr>
                <li class="list_item"><a href="" class="list_link">[공지] 이메일 인증......</a></li><hr>
                <li class="list_item"><a href="" class="list_link">[공지] 이메일 인증......</a></li><hr>
                <li class="list_item"><a href="" class="list_link">[공지] 이메일 인증......</a></li><hr>
                <li class="list_item"><a href="" class="list_link">[공지] 이메일 인증......</a></li><hr>
                <li class="list_item"><a href="" class="list_link">[공지] 이메일 인증......</a></li><hr>
                <li class="list_item"><a href="" class="list_link">[공지] 이메일 인증......</a></li><hr>
                <li class="list_item"><a href="" class="list_link">[공지] 이메일 인증......</a></li><hr>
                <li class="list_item"><a href="" class="list_link">[공지] 이메일 인증......</a></li><hr>
                <li class="list_item"><a href="" class="list_link">[공지] 이메일 인증......</a></li><hr>
                <li class="list_item"><a href="" class="list_link">[공지] 이메일 인증......</a></li><hr>
                <li class="list_item"><a href="" class="list_link">[공지] 이메일 인증......</a></li><hr>
                <li class="list_item"><a href="" class="list_link">[공지] 이메일 인증......</a></li><hr>
            </ul>
        </section>
    </div>
</body>
</html>