<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pro.mapper.ServiceMapper">


	<select id="selectInquiryNum" resultType="int">
		select
		inquirynum_seq.nextval from dual
	</select>
	<insert id="insertInquiry" parameterType="inquiry">
		insert into
		inquiry(inquirynum, type, email, title, content)
		values(#{inquiryNum},
		#{type}, #{email},#{title},#{content})
	</insert>
	<select id="selectAllInquiry" parameterType="String"
		resultType="inquiry">
		select * from inquiry where email = #{email} order by
		status asc
	</select>
	<select id="selectInquiry" parameterType="int"
		resultType="inquiry">
		select * from inquiry where inquirynum = #{inquiryNum}
	</select>
	<select id="selectInquiryAnswer" parameterType="int"
		resultType="inquiryAnswer">
		select * from inquiry_answer where inquirynum =
		#{inquiryNum}
	</select>
	<delete id="deleteInquiry" parameterType="int">
		delete from inquiry
		where inquirynum = #{inquiryNum}
	</delete>
	<delete id="deleteInquiryAnswer" parameterType="int">
		delete from
		inquiry_answer where inquirynum = #{inquiryNum}
	</delete>
	<update id="updateInquiry" parameterType="inquiry">
		update inquiry set
		title = #{title}, content = #{content}, type = #{type} where
		inquirynum = #{inquiryNum}
	</update>
	<select id="selectAllAdminInquiry" parameterType="String"
		resultType="inquiry">
		select * from inquiry order by status asc
	</select>
	<insert id="insertAdminInquiry" parameterType="inquiryAnswer">
		insert into
		inquiry_answer(inquirynum,title, content)
		values(#{inquiryNum},#{title},#{content})
	</insert>
	<update id="updateInquiryStatus" parameterType="int">
		update inquiry
		set status = 1 where inquirynum = #{inquiryNum}
	</update>
	<select id="inquiryAdminSort" parameterType="hashMap"
		resultType="inquiry">
		select * from inquiry where type = #{type} and status =
		#{answer}
	</select>
	<insert id="insertFile" parameterType="file">
		insert into inquiry_file
		values((SELECT nvl(max(file_num),0) FROM inquiry_file WHERE
		inquirynum
		= #{inquiryNum}) + 1,#{inquiryNum},#{path})
	</insert>
	<select id="selectFileList" parameterType="int"
		resultType="file">
		select * from inquiry_file where inquirynum =
		#{inquiryNum}
	</select>
	<select id="selectImageFile" parameterType="int"
		resultType="file">
		select * from inquiry_file where filenum = #{fileNum}
	</select>
	<select id="selectFile" parameterType="hashMap"
		resultType="file">
		select * from inquiry_file where inquirynum =
		#{inquiryNum}
		and filenum = #{fileNum}
	</select>
	<select id="selectAllNotice" resultType="notice">
		select * from notice
	</select>
	<update id="updateNoticeCount" parameterType="int">
	UPDATE notice
		set viewcount = viewcount + 1 where noticenum= #{noticeNum}
	</update>
	<select id="selectNotice" parameterType="int" resultType="notice">
	select * from notice where noticenum = #{noticeNum}
	</select>
	<select id="selectNoticeComment" parameterType="int" resultType="ncomment">
		select * from notice_comment where noticenum = #{noticeNum}
	</select>
	<insert id="insertNoticeComment" parameterType="ncomment">
		insert into notice_comment(commentnum,noticenum,writer,content)
		values(ncomment_seq.nextval, #{commentNum},#{writer},#{content})

	</insert>
	
	
	
 	




</mapper>
